* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc {
  
  width: 300px;
  background: #111827;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
  
}
.btn{display:block;width:100%;padding:12px;margin:8px 0;border:none;border-radius:12px;background:#fff;color:#333;cursor:pointer;font-weight:bold; }
.back{margin-top:15px;background:#ffdf00;}

.display {
  width: 100%;
  height: 70px;
  background: #020617;
  border: none;
  outline: none;
  color: #f9fafb;
  font-size: 32px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #1f2937;
  color: #e5e7eb;
}

button:hover {
  background: #374151;
}

.op {
  background: #2563eb;
  color: white;
}

.op:hover {
  background: #1d4ed8;
}

.equal {
  background: #22c55e;
  color: #022c22;
}

.equal:hover {
  background: #16a34a;
}

.zero {
  grid-column: span 2;
}


